<% include partials/header %>

    <% if(error){ %>
        <%- include('partials/errorModal', {error: error}); %>
    <% } %>

    <%if(user){%>
        <script>
            user = <%- JSON.stringify(user) %>
        </script>
        <%if(user.userDataId == null){%>
            <%- include('partials/userDataModal', {user: user}); %>
        <%}if(!user.isActivated){%>
            <%- include('partials/activateModal', {user: user}); %>
        <%}%>
    <% } %>
    <div class="container-fluid row">
        <div class="col-md-2 col-sm-12"></div>
        <div class="container-fluid col-md-8 col-sm-12" style="padding: 0;">
            <div class="section user-section row">
                <h4 class="col-12">หิวไหม, ทานอะไรมาหรือยัง ?</h4>
                <%if(user){%>
                <div class="scrollcard">
                    <div class="card usercard">
                        <img id="usercard-pic" src="../assets/images/user.svg" alt="">
                        <table>
                            <tr>
                                <th id="usercard-name"><%= user.username %></th>
                            </tr>
                            <tr>
                                <td id="usercard-logout">
                                    <form action="/logout" method="post">
                                        <button class="btn btn-outline-dark btn-sm" type="submit">ออกจากระบบ</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card pendingcard" onclick="pendingInteract()">
                        <div></div>
                        <i class="card-icon" id="eye" data-feather="eye"></i>
                        <i class="card-icon" id="package" data-feather="package"></i>
                        <p>Pending Order</p>
                    </div>  
                    <div class="card statcard">
                        <i data-feather='activity' style="stroke-width: 1.5;margin: 4% 0;color: #212529;"></i>
                        <p>Statistic & History</p>
                    </div>
                </div>
                <%}else{ %>
                <button type="button" class="btn btn-dark btn-sm col-3 login-button" data-toggle="modal" data-target="#loginModal">เข้าสู่ระบบ</button>
                <% } %>
                
            </div>

            <div class="section ad-section row">
                <h4 class="col-12">ร้านค้าแนะนำ</h4>
                <div class="scrollcard">
                    <% for(let i=0 ;i<10;i++) {%>
                    <div class="card adcard" style="width:200px; height=120px"><img src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1524515469%2F1804-what-is-sushi-grade-fish.jpg%3Fitok%3DCpgqxHy-&w=1000&c=sc&poi=face&q=70" alt=""><span><b>Dummy Text</b><p>Dummy Description</p></span></div>
                    <% } %>
                </div>
            </div>

            <div class="section recommend-section row">
                <h4 class="col-12">คิดไม่ออก ทานอะไรดี</h4>
                <ol class="card list-card">
                    <%# for loop render %>
                    <% let i=0; for(i=0; i<20; i++){ %>
                    <li class="d-flex bd-highlight">
                        <span class="p-2 flex-grow-1 bd-highlight">List Element</span>
                        <table class="p-2 bd-highlight">
                            <tr><th>0.00$</th></tr>
                            <tr><td>ราคาเฉลี่ย</td></tr>
                        </table>
                        <i data-feather="arrow-right" class="p-2 bd-highlight"></i>
                    </li>
                    <% } %>
                </ol>
            </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
        
    </div>
    
<% include partials/footer %>
